/*___________________________*/

/*___________________________*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: #fff;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova SB';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("../fonts/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Sl';
  src: url("../fonts/ProximaNovaCond-Thin.eot");
  src: local("../fonts/Proxima Nova Condensed Thin"), local("ProximaNovaCond-Thin"), url("../fonts/ProximaNovaCond-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Thin.woff") format("woff"), url("../fonts/ProximaNovaCond-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/*___________________________*/

body {
  font-family: "Proxima Nova Bold";
}

header {
  width: 100%;
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-color: white;
  background-position: bottom;
  background-size: cover;
}

.wrapper {
  overflow: hidden;
  height: 100%;
}

.container {
  max-width: 1150px;
  margin: auto;
  height: 100%;
  padding: 0 10px;
}

.small__container {
  max-width: 990px;
  margin: auto;
  padding: 0 10px;
}

.lock {
  overflow-y: hidden;
  position: relative;
  height: 100%;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  padding: 20px 0;
  background-color: #FF8B00;
  max-width: 170px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.btn.mobile {
  display: none;
}

.btn a {
  z-index: 2;
  overflow: hidden;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 105%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.btn:hover:before {
  left: 0;
  opacity: 1;
  top: 0;
  -webkit-transition-duration: 0.3s, 0.3s, 0.15s;
       -o-transition-duration: 0.3s, 0.3s, 0.15s;
          transition-duration: 0.3s, 0.3s, 0.15s;
  -webkit-transition-property: left, top, opacity;
  -o-transition-property: left, top, opacity;
  transition-property: left, top, opacity;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  margin-bottom: 130px;
}

.nav__body {
  margin-left: auto;
  font-size: 15px;
}

.nav__body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
}

.nav__body ul li:not(:last-child) {
  margin-right: 30px;
}

.nav__body ul li {
  position: relative;
}

.nav__body ul li:after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #FF8B00;
  position: absolute;
  bottom: -8px;
  left: -10%;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav__body ul li:hover:after {
  width: 120%;
}

.header__slider {
  overflow: hidden;
  position: relative;
}

.slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.slider__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 78px;
  color: #fff;
}

.slider__columns .slider__col:first-child {
  width: 60%;
}

.slider__columns .slider__col:last-child {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__col span {
  display: block;
}

.slider__col p {
  margin-bottom: 55px;
  font-family: "Proxima Nova Rg";
  line-height: 30px;
}

.slider__title {
  font-size: 55px;
  margin-bottom: 15px;
}

.slider__switch_body {
  position: absolute;
  right: 0;
  top: 90px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__switch {
  background: url("../img/empty_polygon.png") no-repeat;
  background-size: contain;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background-position: center;
}

.slider__switch:not(:last-child) {
  margin-bottom: 12px;
}

.slider__switch.active {
  background: url("../img/polygon.png") no-repeat;
}

.header__anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 140px;
}

.header__anchor a:after {
  content: '';
  background: url("../img/header_arrow.png") no-repeat;
  background-size: contain;
  display: block;
  width: 62px;
  height: 70px;
  margin: 20px auto;
}

.header__anchor a:hover {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.main__numbers {
  margin: 130px 0;
}

.numbers__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #7050E5;
}

.numbers__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 33.3333%;
      -ms-flex: 33.3333%;
          flex: 33.3333%;
  padding: 0 50px;
}

.numbers__col_num {
  font-size: 60px;
  margin-bottom: 15px;
}

.main__services {
  background-color: #F8F8F8;
  padding: 120px 0;
}

.services__title {
  font-size: 70px;
  text-align: end;
  position: relative;
  padding-right: 50px;
  color: #7050E5;
}

.services__title:before {
  content: "";
  height: 46px;
  width: 12px;
  background: #FF8B00;
  position: absolute;
  right: 0;
  top: -34px;
}

.services__title:after {
  content: '';
  background: #FF8B00;
  height: 46px;
  width: 12px;
  position: absolute;
  right: 17px;
  top: -51px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__img {
  height: 130px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.services__col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 0 50px;
  margin-top: 70px;
}

.services__col img {
  max-height: 100%;
}

.services__col p {
  color: #878787;
  line-height: 19px;
}

.services__subtitle {
  color: #7050E5;
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
}

.services__text {
  font-family: "Proxima Nova Rg";
  font-size: 15px;
}

.spotlights__row {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spotlights__row .spotlights__col:first-child {
  padding-right: 80px;
  width: 40%;
}

.spotlights__row .spotlights__col:not(:first-child) {
  width: 60%;
}

.spotlights__title {
  color: #7050E5;
  font-size: 40px;
  margin-bottom: 15px;
}

.spotlights__text {
  font-family: "Proxima Nova Rg";
  color: #878787;
  font-size: 15px;
  margin-bottom: 40px;
}

.spotlights__video {
  position: relative;
  overflow: hidden;
}

.spotlights__video video {
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.spotlights__video video.active {
  -webkit-filter: unset;
          filter: unset;
}

.spotlights__video .btn__play,
.spotlights__video .btn__pause {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.spotlights__video .btn__play {
  background: url("../img/play_btn.png") no-repeat;
  background-size: contain;
}

.spotlights__video .video__text {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
}

.spotlights__video .video__subtitle {
  margin-bottom: 16px;
  font-size: 15px;
  font-family: "Proxima Nova Rg";
}

.spotlights__video .video__title {
  font-size: 32px;
}

.btn__play.active {
  display: block;
  opacity: 1;
}

.btn__pause.active {
  display: block;
}

.btn__pause.active:after {
  content: '';
  width: 15px;
  right: 20%;
  top: 0;
  display: block;
  position: absolute;
  height: 100%;
  background-color: #fff;
}

.btn__pause.active:before {
  content: '';
  width: 15px;
  left: 20%;
  top: 0;
  display: block;
  position: absolute;
  height: 100%;
  background-color: #fff;
}

.btn__pause.active:hover {
  opacity: 1;
}

.video__text {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.video__text.active {
  opacity: 1;
}

.video__overlay {
  height: 99%;
  z-index: 2;
  background-color: #868686;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.video__overlay.active {
  opacity: 0.5;
}

.main__form {
  background-color: #232323;
  position: relative;
  overflow: hidden;
}

.main__form:after {
  content: '';
  width: 450px;
  height: 450px;
  top: 0;
  left: 0;
  background: -o-linear-gradient(77.92deg, #F101BF 2.82%, #0066FF 97.06%);
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.6;
  -webkit-filter: blur(110px);
          filter: blur(110px);
  border-radius: 373.431px;
  -webkit-transform: rotate(-122.79deg);
      -ms-transform: rotate(-122.79deg);
          transform: rotate(-122.79deg);
  position: absolute;
  z-index: 2;
}

.main__form:before {
  content: '';
  width: 450px;
  height: 450px;
  bottom: -170px;
  right: 20%;
  background: -o-linear-gradient(77.92deg, #F101BF 2.82%, #0066FF 97.06%);
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.6;
  -webkit-filter: blur(110px);
          filter: blur(110px);
  border-radius: 373.431px;
  -webkit-transform: rotate(5.78deg);
      -ms-transform: rotate(5.78deg);
          transform: rotate(5.78deg);
  position: absolute;
  z-index: 2;
}

.form__body {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 3;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__body .form__col:first-child {
  width: 40%;
}

.form__body .form__col:last-child {
  width: 60%;
}

.form__title {
  font-size: 50px;
  color: #fff;
  margin-right: 30px;
}

.form__title span {
  display: block;
}

.form__subtitle {
  color: #fff;
  font-size: 28px;
  margin-bottom: 55px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 55px;
  position: relative;
}

.form__item textarea {
  height: 100px;
  resize: vertical;
  min-height: 100px;
  max-height: 250px;
}

.form__item input,
.form__item textarea {
  border-radius: 5px;
  padding: 8px 13px;
  width: 100%;
}

.form__item label {
  color: #fff;
  font-size: 13px;
  display: block;
  position: absolute;
  top: -20px;
  left: 3px;
}

.form__item .item__body:first-child {
  margin-right: 20px;
}

.item__body {
  position: relative;
  width: 50%;
}

.item__body input {
  width: 100%;
}

.footer__body {
  background-color: #363636;
  margin-top: 100px;
  padding: 45px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-top: 10px;
}

.footer__row .footer__col:not(:last-child) {
  text-transform: uppercase;
}

.footer__logo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.twitter__plugin {
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.twitter__plugin iframe {
  margin-top: -45px !important;
}

.twitter__plugin .plugin__item:first-child {
  z-index: 3;
}

.plugin__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #7050E5;
}

.plugin__logo {
  width: 60px;
  margin: auto;
  background-color: #5634D1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plugin__logo img {
  display: block;
  margin: auto;
}

.plugin__links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 12px 18px;
}

.plugin__links p {
  color: #fff;
  font-family: "Proxima Nova Rg";
}

.plugin__channel {
  color: #fff;
  font-size: 22px;
  margin-bottom: 5px;
  font-family: "Proxima Nova SB";
}

.footer__col {
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #fff;
}

.footer__col ul li {
  font-size: 14px;
}

.footer__col ul li:not(:last-child) {
  margin-bottom: 8px;
}

.footer__row_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__copyright {
  background-color: #252525;
}

.footer__subtitle {
  color: #FF8B00;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.footer__subtitle:before {
  content: '';
  width: 18px;
  height: 20px;
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -5px;
  left: 0;
}

.copyright__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  font-size: 10px;
  color: #fff;
}

.copyright__body p {
  padding-left: 3px;
}

.company__name {
  position: relative;
  padding-right: 12px;
}

.company__name:after {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -1px;
  right: 0;
}

@media all and (max-width: 1024px) {
  .container,
  .small__container {
    padding: 0 20px;
  }

  .spotlights__video .btn__play,
  .spotlights__video .btn__pause {
    width: 40px;
    height: 40px;
  }

  .btn__pause.active:after,
  .btn__pause.active:before {
    width: 8px;
  }

  .numbers__col {
    padding: 0 20px;
  }

  .footer__col {
    margin-left: 50px;
  }
}

@media all and (max-width: 768px) {
  .container,
  .small__container {
    padding: 0 30px;
  }

  .header__nav {
    position: relative;
    margin-bottom: 55px;
  }

  .header__nav img {
    width: 40px;
    height: 50px;
    z-index: 3;
  }

  .nav__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #363636;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 2;
    font-size: 24px;
    padding: 0 40px;
    padding-top: 120px;
  }

  .nav__body ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .nav__body ul li:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav__body.active {
    left: 0;
  }

  .burger {
    display: block;
    position: relative;
    width: 22px;
    height: 16px;
    cursor: pointer;
    z-index: 2;
  }

  .burger:after,
  .burger:before,
  .burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }

  .burger span {
    top: 7px;
  }

  .burger:before {
    top: 0;
  }

  .burger:after {
    bottom: 0;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 3px;
  }

  .burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 11px;
  }

  .nav__body ul li:not(:last-child) {
    margin-right: 0;
  }

  .slider__columns {
    padding: 0 40px;
  }

  .slider__title {
    font-size: 32px;
  }

  .main__numbers {
    margin: 80px 0;
  }

  .numbers__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .numbers__columns .numbers__col:not(:last-child) {
    margin-bottom: 70px;
  }

  .numbers__col {
    padding: 0;
  }

  .services__title {
    font-size: 34px;
  }

  .services__col {
    padding: 0 20px;
  }

  .form__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__body .form__col:first-child,
  .form__body .form__col:last-child {
    width: 100%;
  }

  .main__services {
    padding: 80px 0;
  }

  .main__form:before {
    right: 0;
  }

  .main__form:after {
    left: -150px;
  }

  .spotlights__row {
    padding: 100px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spotlights__row a {
    display: none;
  }

  .spotlights__row a.mobile {
    display: block;
    margin-top: 40px;
  }

  .spotlights__row .spotlights__col:first-child {
    padding-right: 0;
    width: 100%;
  }

  .spotlights__row .spotlights__col:not(:first-child) {
    width: 100%;
  }

  .spotlights__video .video__title {
    font-size: 24px;
  }

  .form__body {
    padding: 40px 0;
  }

  .form__title {
    margin-right: 0;
  }

  .footer__col {
    margin-left: 0;
  }

  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .twitter__plugin {
    overflow: hidden;
  }

  .footer__row_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .footer__row_body .footer__item:first-child {
    margin-bottom: 40px;
  }

  .footer__row_body .footer__item:last-child {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 426px) {
  .slider__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }

  .slider__columns .slider__col:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 55px;
  }

  .slider__columns .slider__col:last-child img {
    max-width: 100px;
    height: auto;
  }

  .slider__columns .slider__col:last-child,
  .slider__columns .slider__col:first-child {
    width: 100%;
  }

  .slider__switch_body {
    display: none;
  }

  .services__img {
    padding-left: 0;
    text-align: center;
  }

  .services__col {
    padding: 0;
  }

  .spotlights__title {
    font-size: 24px;
  }

  .spotlights__video .btn__play,
  .spotlights__video .btn__pause {
    width: 34px;
    height: 34px;
    top: 45%;
  }

  .spotlights__video .video__subtitle {
    font-size: 10px;
  }

  .spotlights__video .video__title {
    font-size: 13px;
  }

  .btn__pause.active:after,
  .btn__pause.active:before {
    width: 7px;
    right: 5px;
  }

  .form__row a {
    display: block;
    margin: auto;
  }

  .form__title {
    font-size: 34px;
    margin-bottom: 50px;
  }

  .form__subtitle {
    font-size: 20px;
  }

  .form__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__item .item__body:first-child {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .item__body {
    width: 100%;
  }

  .main__form:before {
    display: none;
  }

  .main__form:after {
    left: -50%;
  }

  .footer__body {
    padding: 60px 0;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__row_body .footer__item:first-child {
    margin-bottom: 0;
  }

  .footer__col {
    margin-top: 50px;
  }

  .footer__logo {
    position: unset;
  }

  .plugin__logo {
    margin: 0;
  }

  .twitter__plugin {
    width: 100%;
  }

  .footer__logo {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .copyright__body {
    font-size: 8px;
    margin: 38px 0;
  }

  .company__name:after {
    width: 8px;
    height: 9px;
    top: -2px;
  }

  .copyright__body {
    font-family: "Proxima Nova Sl";
  }
}

@media all and (max-width: 326px) {
  .copyright__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .spotlights__video .video__subtitle {
    margin-bottom: 5px;
  }

  .company__name {
    margin-bottom: 5px;
  }
}